@use '@tokens/breakpoints';

@mixin announcement-tout-list-container {
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    margin: 0;
    display: block;
    padding: 0.25rem 0.5rem;
    border-bottom: 1px #444 solid;
  }

  @media (min-width: breakpoints.get(lg)) {
      padding: 2rem;
  }

}

.block-editor-iframe__body .announcement-tout,
.announcement-tout {
  background: var(--color-text);
  color: var(--color-page-bg);
  display: flex;
  position: relative;
  padding: 1rem;
  gap: 1rem;
  margin-top: 1rem;

  .announcement-tout__toast {
    font-family: var(--font-impact-label-reversed), monospace;
    color: #fff;
    font-size: 1.5rem;
    background-color: var(--color-link);
    font-weight: 400;
    display: inline;
    margin: 0;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    width: fit-content;
    position: absolute;
    top: -1.2rem;
    left: 2.25rem;
  }

  .announcement-tout__title {
    font-size: 2rem;
    margin: 0;
  }

  .announcement-tout__content {
    column-gap: 2rem;
    color: var(--color-page-bg);
    margin: 0 0 1rem 0;
  }

  .list,
  .wp-block-list {
    @include announcement-tout-list-container;
  }


  .button {
    display: inline-block;
  }
}

.block-editor-iframe__body .announcement-tout--secondary,
.announcement-tout--secondary {
  background: var(--color-page-bg);
  color: var(--color-text);
  border: 2px solid var(--color-accent--secondary);

  .announcement-tout__content {
    padding: 3rem 0.5rem 0.5rem 0.5rem;
    flex-direction: column;
    color: var(--color-text);

    > .wp-block-buttons,
    > .announcement-tout__actions {
      align-self: stretch;
    }
  }

  .announcement-tout__toast {
    background-color: var(--color-accent--secondary);
    color: var(--color-page-bg);
    display: inline;
    text-align: center;
    width: min-content;
  }

  .button {
    box-sizing: border-box;
    text-align: center;
    color: var(--color-page-bg);
    background-color: var(--color-text);
    border-color: var(--color-text);
    width: 100%;
  }

  .button,
  .wp-block-button,
  .wp-block-button__link {
    width: 100%;
  }
}
