@use "sass:map";

$breakpoints: (
    xs: 650px,
    sm: 840px,
    md: 1024px,
    lg: 1250px,
    xl: 1540px
);

:root {
    @each $bp_name, $val in $breakpoints {
        --breakpoint-#{$bp_name}: #{$val};
    }
}

@function get($name) {
    @return map.get($breakpoints, $name);
}
