$font-url-root: '@tokens/fonts';

@font-face {
    font-family: 'Source Sans 3';
    src:
        url('#{$font-url-root}/SourceSans3-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Source Sans 3';
    src:
        url('#{$font-url-root}/SourceSans3-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Source Sans 3';
    src:
        url('#{$font-url-root}/SourceSans3-Italic.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Source Sans 3';
    src:
        url('#{$font-url-root}/SourceSans3-BoldItalic.woff2') format('woff2');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Special Elite';
    src:
        url('#{$font-url-root}/SpecialElite-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Geist Mono';
    src:
        url('#{$font-url-root}/GeistMono-Regular.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Impact Label Reversed';
    src:
        url('#{$font-url-root}/Impact_Label_Reversed.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    --font-source-sans: 'Source Sans 3';
    --font-super-elite: 'Special Elite';
    --font-geist: 'Geist Mono';
    --font-impact-label-reversed: 'Impact Label Reversed';
}
