@use "breakpoints";
@use "mixins/layout";
$event-teaser-out-duration: 0.2s;
$event-teaser-in-duration: 0.2s;
$stagger-count: 22;
$stagger-step: 23ms;

@keyframes event-teaser-in {
  from {
    opacity: 0;
    transform: translate3d(40rem, 0, 0);
    filter: blur(0.35rem);
  }

  to {
    opacity: 1;
    transform: translate3d(0rem, 0, 0);
    filter: blur(0);
  }
}

@keyframes event-teaser-out {
  from {
    opacity: 1;
    transform: translate3d(0rem, 0, 0);
    filter: blur(0);
  }

  to {
    opacity: 0;
    transform: translate3d(-40rem, 0, 0);
    filter: blur(0.35rem);
  }
}

:global(event-listing[data-component="abcnorio/event-listing"] .teaser) {
  position: relative;
  overflow: hidden;
  opacity: 1;
  filter: blur(0);
  transform: translate3d(0, 0, 0);
  transition-property: transform, opacity, filter, box-shadow, border;
  transition-duration: $event-teaser-out-duration;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0ms;
}

:global(event-listing[data-component="abcnorio/event-listing"]) {
  &.htmx-swapping .teaser {
    @for $i from 1 through $stagger-count {
      &:nth-child(#{$i}) {
        animation-delay: ($i - 1) * $stagger-step;
      }
    }
  }

  &.htmx-added .teaser {
    @for $i from 1 through $stagger-count {
      &:nth-child(#{$i}) {
        animation-delay: $event-teaser-out-duration + (($i - 1) * $stagger-step);
      }
    }
  }
}

:global(event-listing[data-component="abcnorio/event-listing"].htmx-swapping .teaser) {
  animation: event-teaser-out $event-teaser-out-duration cubic-bezier(0.4, 0, 0.2, 1) both;
}

:global(event-listing[data-component="abcnorio/event-listing"].htmx-added .teaser) {
  animation: event-teaser-in $event-teaser-in-duration cubic-bezier(0.4, 0, 0.2, 1) both;
}

.event-listing {
  border: 1px #000 solid;
}

.teaser-list {
  @include layout.max-width();
  display: grid;
  gap: 1rem;
  position: relative;
  overflow: hidden;
  grid-template-columns: repeat(1, minmax(0, 1fr));

  .events__count {
    grid-column: 1 / -1;
    margin: 0;
  }

  @media (min-width: breakpoints.get(sm)) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  @media (min-width: breakpoints.get(md)) {
    gap: 2rem;
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  @media (min-width: breakpoints.get(lg)) {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  @media (min-width: breakpoints.get(xl)) {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }

  p {
    hyphens: auto;
    white-space: wrap;
  }

  .events__count {
    grid-column: 1 / -1;
    font-size: 0.875rem;
    color: var(--color-text);
    margin: 0;
  }

}


