@use '../design-tokens';
@use '../button/button';

.add-to-calendar {
  display: block;
  position: relative;

  .atc-drawer {
    position: absolute;
    z-index: 55;
    overflow: hidden;
    max-height: 0;
    box-sizing: border-box;
    transition-property: max-height, padding-top, padding-bottom;
    transition-duration: 0.175s;
    transition-timing-function: ease-in-out;
    background-color: var(--color-ui-panel);
    padding: 0 1rem;
    
    a {
      display: inline-block;
      margin-right: 1rem;
      cursor: pointer;
    }

    &.active {
      padding-left: 1rem;
      padding-right: 1rem;
      padding-top: 1rem;
      padding-bottom: 1rem;
      max-height: 12rem;
      box-shadow: 2px 2px 4px inset rgba(0, 0, 0, 0.1);
    }
  }
}