@use "mixins/layout";
@use "mixins/slider";

.content-listing {
  display: block;

  .content-listing__title {
    margin: 0 0 1rem;
  }

  &.card-grid {   
    .teaser-list {
      @include layout.card-grid();
    }
  }
  
  &.blaze-slider {
    @include slider.slider();
  }
}

.content-listing__item {
  min-width: 0;
}
