@use '@tokens/breakpoints';
@use 'mixins/layout';

.abcnorio-hero {
    padding: 0;
    margin: 0 0 3rem 0;
    height: max-content;
    position: relative;

    .abcnorio-hero__image-wrapper {
        position: relative;
        z-index: 1;
        background-image: var(--cover-bg-md, none);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;
        min-height: 33rem;
    }

    .abcnorio-hero__content-wrapper {
        position: relative;
        z-index: 2;
        width: 100%;
    }

    .abcnorio-hero__content {
        position: relative;
        box-sizing: border-box;
        top: -8rem;
        width: calc( 100% - 4rem);
        margin: 0 auto -8rem auto;
        height: fit-content;
        border: 2px var(--color-text) solid;
        background-color: var(--color-page-bg);
        padding: 0 2rem 1rem 2rem;

        .button {
            margin-right: 0.25rem;
            margin-bottom: 0.25rem;
        }

        h2 {
            display: inline-block;
            font-family: var(--font-impact-label-reversed);
            padding: 0.25rem 0.5rem;
            background-color: var(--color-text);
            color: var(--color-page-bg);
            transform: rotate3d(0, 0, 1, -1deg);
            position: relative;
            left: -1rem;
            top: -1.25rem;
            box-shadow: 1px 1px 6px #000000de;
        }

        p {
            margin-top: 0;
            font-size: 1.2rem;
            line-height: 1.5;
            max-height: fit-content;
            height: fit-content;
            overflow: hidden;
        }
    }

    @media (min-width: breakpoints.get(sm)) {
        // padding-bottom: 12rem;

        .abcnorio-hero__image-wrapper {
            min-height: 33rem;
            background-image: var(--cover-bg-md)
        }

        .abcnorio-hero__content {
            p {
                max-height: 14rem;
            }
        }
    }

    @media (min-width: breakpoints.get(md)) {
        // padding-bottom: 8rem;

        .abcnorio-hero__image-wrapper {
            min-height: 30rem;
            background-image: var(--cover-bg-md, var(--cover-bg-sm, var(--cover-bg-xs, none)));
        }
    }

    @media (min-width: breakpoints.get(lg)) {
        // padding-bottom: 6rem;
        .abcnorio-hero__image-wrapper {
            background-image: var(--cover-bg-lg, var(--cover-bg-md, var(--cover-bg-sm, var(--cover-bg-xs, none))));
        }
    }

    @media (min-width: breakpoints.get(xl)) {
        .abcnorio-hero__image-wrapper {
            box-shadow: 0px 0px 16px #000000de;
            border: 2rem var(--color-page-bg);
        }
    }
}
