articles-teaser {
  display: block;

  article.teaser.article {
    h3 {
      font-size: 1rem;
    }

    a {
      color: var(--color-text);
      text-decoration: none;

      &:hover,
      &:focus {
        color: var(--color-link);
        text-decoration: underline;
      }
    }
  }
}
