@use "mixins/teasers";

.event-teaser {

  @include teasers.teaser();

  &--past {

    background-color: var(--color-event-teaser-past-bg, #666);

    .event-teaser__content {
      &__date {
        color: #333;
        background-color: var(--color-grey-light);
      }

      .event-teaser__title {
        color:  #333;
        background-color: var(--color-grey-light);
      }

      .event-teaser__image {
        opacity: 0.35;
        mix-blend-mode: luminosity;
      }
    }

    &::after {
      position: absolute;
      box-sizing: border-box;
      content: 'Past Event';
      padding: 1rem 0.5rem;
      font-size: 1.2rem;
      width: 100%;
      text-align: center;
      vertical-align: middle;
      background-color: rgba(0, 0, 0, 0.9);
      color: var(--color-event-teaser-bg, #ffbaba);
      font-family: var(--font-impact-label-reversed), monospace;
      bottom: 0;
      left: 0;
    }
  }

  @media (min-width: 48rem) {
    &__content {
      top: 3rem;
      left: 2rem;
      transform: rotate(-7deg);
    }

    &__date {
      font-size: 1.5rem;
    }

    &__title {
      font-size: 16px;
      left: -1rem;
      line-height: 1.25;
      padding: 1rem 2rem 0.75rem 1rem;
    }
  }
}