@use "mixins/teasers";

.event-teaser {
  @include teasers.teaser();


  &__content {
    position: absolute;
    top: 0.5rem;
    left: 0;
  }

  &__date {
    display: inline;
    position: relative;
    box-sizing: border-box;
    max-width: max-content;
    margin-bottom: 1rem;
    padding: 0 0 0.25rem 0;
    transform: rotate3d(0, 0, 1, -15deg);
    color: var(--color-event-teaser-bg, #ffbaba);
    background-color: var(--color-text);
    font-family: var(--font-impact-label-reversed), monospace;
    line-height: 1;
  }

  &__title {
    margin-top: 1rem;
    display: block;
    width: border-box;
    position: relative;
    color: var(--color-text);
    background-color: var(--color-event-teaser-bg, #ffbaba);
    padding: 0.5rem 0 0.75rem 0.5rem;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.2;
    font-family: var(--font-geist), monospace;
  }

  &__image {
      object-fit: cover;
      object-position: top;
      opacity: 0.35;
      display: block;
      width: 100%;
      height: 100%;
      mix-blend-mode: multiply;
  }

  &:focus,
  &:hover {
    .event-teaser__date {
      color: var(--color-event-teaser-bg, #ffbaba);
      background-color: var(--color-text);
    }

    .event-teaser__title {
      color: var(--color-event-teaser-bg, #ffbaba);
        background-color: var(--color-text);
    }

    .event-teaser__image {
      opacity: 0.75;
      mix-blend-mode: hard-light;
    }
  }

  &--past {

    background-color: var(--color-event-teaser-past-bg, #666);

    .event-teaser__content {
      &__date {
        color: #333;
        background-color: var(--color-grey-light);
      }

      .event-teaser__title {
        color:  #333;
        background-color: var(--color-grey-light);
      }

      .event-teaser__image {
        opacity: 0.35;
        mix-blend-mode: luminosity;
      }
    }

    &::after {
      position: absolute;
      box-sizing: border-box;
      content: 'Past Event';
      padding: 1rem 0.5rem;
      font-size: 1.2rem;
      width: 100%;
      text-align: center;
      vertical-align: middle;
      background-color: rgba(0, 0, 0, 0.9);
      color: var(--color-event-teaser-bg, #ffbaba);
      font-family: var(--font-impact-label-reversed), monospace;
      bottom: 0;
      left: 0;
    }
  }

  @media (min-width: 48rem) {
    &__content {
      top: 3rem;
      left: 2rem;
      transform: rotate(-7deg);
    }

    &__date {
      font-size: 1.5rem;
    }

    &__title {
      font-size: 16px;
      left: -1rem;
      line-height: 1.25;
      padding: 1rem 2rem 0.75rem 1rem;
    }
  }
}